body{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}
.mission-color{
    color: rgb(252, 50, 14);
}
.side-line{
    border-left: 5px orangered solid;
}
.top-section{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
    padding-left: 10px;
}
.half-width img{
    width: 80%;
}
.explore-button{
    background-color: lightseagreen;
    color: whitesmoke;
    font-weight: 700;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
}
.explore-button:hover{
    background-color: navy;
}
.year{
    color: rgb(252, 50, 14);
}
.second-section{
    text-align: center;
    margin-top: 50px;
}
.image-content{
    width: 250px;
    border-radius: 10px;

}
#mission-part{
   background-color: papayawhip;
}
#vission-part{
    background-color: plum;
}
#goal-part{
    background-color: lightpink;
}
.mission-image img{
    width: 100%;
}

.all-missions{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
#aware{
    color: mediumvioletred;
}
#covid{
    color: limegreen;
}
#safe{
    color: cadetblue;
}
#sound{
    color: indianred;
}
.bottom-section{
    text-align: center;
    background-color: gray;
}
#bottom-year{
    color: goldenrod;
}
.bottom-size{
    font-family: cursive;
}